@media screen {
  .loadingComponent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: var(--background-image);
  }


  }

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
