@media screen {
  .notFound {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    background-image: var(--background-image);
  }


  .notFound h1 {
    font-family: var(--font-poppins-extralight);
    color: var(--tertiary-color);
    text-transform: capitalize;
    font-size: 1.2rem;
  }

  .notFoundBtn{
    cursor: pointer;
    padding: 14px 50px;
    border-radius: 15px;
    background:transparent;
    text-transform: capitalize;
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    font-family: var(--font-poppins-light);
  }

  .notFoundBtn:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }
  }

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .notFoundImg {
    height: 400px;
    width: auto;
    object-fit: contain;
  }

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
