@media screen {
  .layoutMain {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 10px;
    height: 100%;
    display: flex;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    background-image: var(--background-image);
    background-attachment: fixed;

  }

  .content {
    gap: 10px;
    width: 100%;
    display: flex;
    height: inherit;
    overflow: hidden;
    flex-direction: column;

  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
 

  /* .content {
      width: 100%;
    } */
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
