@media screen {
  .formSettingContainer {
    gap: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
  }

  .formSettingContainerInner {
    gap: 20px;
    width: 100%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
  }

  .settingWrap {
    width: 100%;
    display: flex;
    padding: 10px;
    min-width: 200px;
    position: relative;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid var(--line-color);
    background-color: var(--primary-light-color);
  }

  .profileSection {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .profileImageContain {
    width: 100px;
    height: 150px;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
  }

  .profileImage {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
    border: 4px solid var(--line-color);
  }

  .uploadEditIcon {
    bottom: -10px;
    width: 50px;
    right: -10px;
    height: 60px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--line-color);
    background-color: var(--primary-color);
  }

  .uploadEditIcon:hover {
    background-color: var(--tertiary-color);
  }

  .editIcon {
    font-size: 24px;
    fill: var(--tertiary-color);
  }

  .uploadEditIcon:hover .editIcon {
    fill: var(--background-color);
  }

  .profileDetails {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px 4px;
    text-align: center;
    flex-direction: column;
    text-transform: capitalize;
  }

  .profileDetails h1 {
    font-size: 1rem;
    color: var(--tertiary-color);
    font-family: var(--font-poppins-regular);
  }

  .profileGlass {
    gap: 5px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--line-color);
  }

  .profileGlass h3,
  .profileGlass h2 {
    font-size: 0.9rem;
  }

  .profileGlass h3 {
    text-transform: lowercase;
    font-family: var(--font-poppins-extralight);
  }


  .socialWrapper {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .socialContainer {
    gap: 14px;
    display: flex;
    justify-content: space-around;
  }

  .shareLinkCopy {
    gap: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    align-items: center;
    background-color: var(--primary-lighter-color);

  }

  .shareLinkCopy p {
    font-size: 0.8rem;
    color: var(--dark-light);
  }
  
  .socialIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
  }

  .shareicon {
    cursor: pointer;
    font-size: 20px;
  }

  .copyField {
    gap: 10px;
    width: 200px;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
  }

  .copyInner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .settingWrapinfo {
    gap: 20px;
    width: 100%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
  }

  .settingWrapS {
    gap: 20px;
    display: flex;
    padding: 10px;
    width: inherit;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--line-color);
    background-image: var(--background-image);
    background-color: var(--primary-light-color);
  }

  .settingInputContainer {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .settingLabel {
    font-family: var(--font-poppins-extralight);
    text-transform: capitalize;
    color: var(--light-color);
    text-wrap: nowrap;
    font-size: 1rem;
  }

  .settingInput {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-radius: 15px;
    align-items: center;
    color: var(--dark-light);
    background-color: var(--primary-lighter-color);
  }

  .settingIcon {
    font-size: 20px;
    color: var(--dark-light);
  }

  .settingInput:hover .settingIcon {
    color: var(--tertiary-color);
  }

  .settingInput input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--dark-light);
    background: transparent;
  }

  .settingInput input:-webkit-autofill,
  .settingInput input:-webkit-autofill:hover,
  .settingInput input:-webkit-autofill:focus,
  .settingInput input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--dark-light) !important;
  }

  .settingInput input:focus {
    background-color: transparent;
  }

  .settingInput input::placeholder {
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--dark-light);
  }

  .errorText {
    font-size: 0.8rem;
    list-style: none;
    text-align: center;
    color: var(--tertiary-color);
  }

  .dropdownContainer {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .dropdownContainer span {
    font-size: 1rem;
  }

  .dropdownInput {
    gap: 10px;
    width: 100%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .dropdownIcon {
    font-size: 24px;
  }

  .dropdownArea {
    top: 60px;
    z-index: 99;
    width: 100%;
    padding: 10px;
    display: flex;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid var(--line-color);
    background-color: var(--primary-lighter-color);
  }

  .dropdownArea span {
    padding: 10px;
  }

  .dropdownArea span:hover {
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .formsettingButton {
    gap: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    max-height: 60px;
    min-height: 60px;
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .formsettingButton:hover {
    background-color: var(--secondary-color);
  }

  .showBtn {
    cursor: pointer;
    color: var(--primary-color);
    background-color: transparent;
  }

  .dangerZone {
    gap: 10px;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid var(--loose-color);
  }

  .dangerZone h2 {
    font-size: 1rem;
    color: var(--loose-color);
  }
  
  .deleteAccount {
    justify-content: space-between;
    color:  var(--loose-color);
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  
  .deleteInfo {
    gap: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  
  .deleteIcon {
    font-size: 50px;
    color:  var(--loose-color);
  }
  
  
  .deleteButton {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    max-height: 60px;
    min-height: 60px;
    border-radius: 15px;
    color: var(--light-color);
    background-color: var(--loose-color);
  }

  .deleteButton:hover {
    background-color: var(--light-loose-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .formSettingContainer {
    height: 100%;
  }

  .formSettingContainerInner {
    width: 80%;
  }

  .settingWrap {
    width: fit-content;
  }

  .settingWrapS {
    gap: 20px;
    justify-content: space-between;
  }

  .settingInput {
    padding: 14px;
  }

  .profileImageContain {
    width: 100px;
    height: 100%;
  }

  .profileSection {
    flex-direction: row;
  }

  .profileDetails {
    text-align: start;
  }

  .deleteInfo {
    flex-direction: row;
    text-align: start;
  }

  
  .deleteAccount {
    flex-direction: row;
  }

  .deleteButton {
    width: fit-content;
  }


}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
  .formSettingContainerInner {
    width: calc(100% / 2);
  }
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .formSettingContainerInner {
    width: calc(100% / 2);
  }
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
  .formSettingContainerInner {
    width: calc(100% / 2);
  }
}
